<table mat-table [dataSource]="myDataArray" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}}</th>
    <td
      mat-cell *matCellDef="let element" [ngClass]="element[column] === '%'? 'discount' : 'null'"> {{element[column]}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="menu-layout-row" fxLayout.lt-md="column"
             fxLayoutGap="1%">
          <div class="element-diagram" fxFlex="20%">
            <div class="element-picture"> {{element.picture}}</div>
          </div>
          <div class="element-description" fxFlex="40%" fxLayoutAlign="center center">
            {{testData}}
          </div>
          <div fxFlex="40%" fxLayoutAlign="space-around center">
            <app-add-to-cart-form [product-cost-list]="element.productCostList" (closeRow)="closeRow()" ></app-add-to-cart-form>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

</table>
