table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

th, td {
  cursor: context-menu;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  max-width: max-content;
  /*border: 2px solid black;*/
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 204px;
}

.element-picture {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.menu-layout-row {
  width: 100%;
}

.discount {
  color: #B12704;
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
}

img {
  max-width: 100%;
  min-width: 80px;
  height: 100%;
  margin: 8px 0;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}

