
<mat-toolbar color="primary">
  <h1>
    My Pizza Online
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button (click)="getDetails()">User Details</button>
  <button mat-button (click)="getProductsInCart()">Shopping Cart {{cart?.length}}</button>
  <button mat-button (click)="deleteProductsFromCart()">Delete From Cart</button>
  <button mat-button >Buy</button>
  <button mat-raised-button (click)="logout()">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>


