<mat-card>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="All Products" >
                <div class="my-large-box mat-elevation-z4">
                  <app-all-products></app-all-products>
                </div>
      </mat-tab>
      <mat-tab label="Opened Orders">
        <!--        <div class="my-large-box mat-elevation-z4">-->
        <!--          <app-order-info></app-order-info>-->
        <!--        </div>-->
      </mat-tab>
      <mat-tab label="Closed Orders"> Content 3</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
