.product-details {
  width: 1492px;
  /*width: 100%;*/
  /*min-width: 100vh;*/
}

.textarea-description {
  /*width: 1014px !important;*/
  overflow: hidden;
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem);
}

.control-buttons {
  padding-bottom: 10px;
}

/*mat-form-field {*/
/*  width: 100%;*/
/*}*/

/*::ng-deep .mat-form-field-infix {*/
/*  width: auto !important;*/
/*}*/

.description-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.frozen-element {
  background: repeating-linear-gradient(150deg, lightblue, white, lightblue 300px);
}

