<div class="product-details">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%" class="product-details">
    <div fxFlex="20%">
      <h5>Description:</h5>
    </div>

    <!--    <ng-template #inactiveDescriptionBlock>-->
    <div fxFlex="70%" fxLayoutAlign="start center" >
      <div *ngIf="!editDescription; else activeDescriptionBlock"></div>
      <p [hidden]="editDescription">{{testData}}</p>
      <ng-template #activeDescriptionBlock class="description-form">
        <form (ngSubmit)="onSubmit()" id="descriptionForm" [formGroup]="descriptionFormGroup">
          <mat-form-field>
            <mat-label>Edit description</mat-label>
            <textarea matInput value="{{testData}}" cdkTextareaAutosize formControlName="descriptionForm"
                      class="textarea-description"></textarea>
            <!--                      <input matInput #message maxlength="256" formControlName="descriptionForm">-->
            <!--                      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>-->
            <!--                      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>-->
          </mat-form-field>
        </form>
      </ng-template>
    </div>
    <div fxFlex="10%" fxLayoutAlign="end center">
      <button type="submit" [hidden]="!editDescription" form="descriptionForm">Save</button>
      <button type="button"
              (click)="editDescription = !editDescription;">{{!editDescription ? 'Edit' : 'Cancel'}}</button>
    </div>
    <!--    </ng-template>-->
    <!--    <ng-template #activeDescriptionBlock>-->
    <!--      <form (ngSubmit)="test()" [formGroup]="descriptionFormGroup" class="description-form">-->
    <!--        <mat-form-field fxFlex="70%" fxLayoutAlign="start center" fxLayoutGap="1%">-->
    <!--          <mat-label>Edit description</mat-label>-->
    <!--          <textarea matInput value="{{testData}}" cdkTextareaAutosize type="text" formControlName="descriptionForm"-->
    <!--                    class="textarea-description"></textarea>-->
    <!--        </mat-form-field>-->
    <!--        <div fxFlex="10%" fxLayoutAlign="end center">-->
    <!--          <button type="submit">Save</button>-->
    <!--          <button type="button" (click)="editDescription = false;">Cancel</button>-->
    <!--        </div>-->
    <!--      </form>-->
    <!--    </ng-template>-->

  </div>

  <hr/>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
    <h5 fxFlex="20%">Ingredients:</h5>
    <p fxFlex="70%">{{productElement.description}}</p>
    <div fxFlex="10%" fxLayoutAlign="end center">
      <button type="button">Edit</button>
    </div>
  </div>
  <hr/>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1%">
    <h5 fxFlex="20%">Conditions:</h5>
    <div fxFlex="80%">
      <mat-selection-list #selection color="primary" (selectionChange)="onChange()">
        <mat-list-option *ngFor="let element of productElement.productCostList">
          <div fxLayout="row">
            <div fxFlex="40%">
              {{element.property}}
            </div>
            <div fxFlex="30%">
              {{element.price}}
            </div>
            <div fxFlex="30%">
              {{element.discount}}
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
      <br/>
      <app-product-details-buttons
        [selection]="selection"></app-product-details-buttons>

      <!--      <div class="control-buttons">-->
      <!--        <button type="button" (click)="toggleAll()">Select All</button>-->
      <!--      </div>-->
    </div>
  </div>

</div>

