
  <mat-form-field>
    <mat-label>Orders</mat-label>
    <mat-select [formControl]="timeIntervalSelect" [(value)]="selected" (ngModelChange)="onChange()">
      <mat-option *ngFor="let item of years; let i = index"
                  [value]="item.name">{{item.description}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-accordion >
    <ng-container *ngFor="let data of completedOrders">
      <app-order-panel [completedOrder]="data"></app-order-panel>
    </ng-container>
  </mat-accordion>


