<mat-card class="mat-elevation-z8">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="6%">

      <div fxFlex="30%" fxLayout="row" fxLayoutGap="3%">
        <button [color]="'accent'" mat-button mat-raised-button (click)="goBack()">Back</button>
        <button [color]="'accent'" [disabled]="totalQuantity == 0" mat-button mat-raised-button matStepperNext (click)="onClick()">Proceed to
          Checkout
        </button>
      </div>
    <div fxFlex="80%" fxLayoutAlign="end center" class="subtotal">Subtotal
      ({{totalQuantity}} {{totalQuantity == 1 ? 'item' : 'items'}}):
    </div>
    <div fxLayout="row" fxLayoutAlign="end" fxFlex="10%" class="price-form">
      <div>
        {{totalPay}}
      </div>&nbsp;<span><fa-icon [icon]="faEuro"></fa-icon></span>
    </div>
  </div>
</mat-card>
