.product-card {
  /*border-top: 2px solid  black;*/
  height: 210px;

}

.element-diagram {
  min-width: 80px;
  max-width: max-content;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 160px;
}

.element-picture {
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.price-form {
  color: #B12704;
  font-size: 17px;
  font-weight: 700;
  margin-right: 30px;
}

img {
  max-width: 100%;
  min-width: 80px;
  height: 100%;
  margin: 8px 0;
}
