<!--<hr/>-->
<mat-card class="product-card">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="3%">
      <div class="element-diagram" fxFlex="10%">
        <div class="element-picture"> {{productCostElement.product.picture}}</div>
      </div>
      <div class="element-description" fxFlex="40%"  fxLayout.lt-md="column">
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-card-title>{{productCostElement.product.name}}</mat-card-title>
          <mat-card-subtitle>{{productCostElement.product.description}}</mat-card-subtitle>
        </div>

      </div>

    </div>
  </mat-card-content>
</mat-card>
