<form [formGroup]="addToCartForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutGap="10%" class="add-to-cart-form-1" fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Size</mat-label>
        <mat-select formControlName="productCost" (ngModelChange)="onChange($event)" required>
          <mat-option *ngFor="let item of productCostList"
                      [value]="item">{{item.property}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <mat-select formControlName="quantity" required>
          <mat-option *ngFor="let item of createRange(4); let i = index"
                      [value]="i + 1">{{i + 1}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addToCartForm.valid || isSubmitButtonHidden">
        <i class="material-icons">add_shopping_cart</i>
      </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <table class="price-tag">
        <tbody>
        <tr>
          <td>Price:</td>
          <td
            class="price-cell"
            [ngClass]="formDiscountPrice == undefined ? 'null' : 'discount'">{{formDiscountPrice == undefined ? 'Please choose product size' : formDiscountPrice + ' Euro'}}</td>
        </tr>
        <tr [hidden]="isNormalPriceHidden">
          <td></td>
          <td class="price-cell">
            <div [ngClass]="isNormalPriceHidden ?  'null' : 'strikethrough' ">{{formNormalPrice + ' Euro'}}</div>
            <span class="discount"> {{'-' + discount + '%'}}</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="price-cell"><p><small>Kostenlose Lieferung</small></p></td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</form>

