.add-to-cart-form-1 {
  width: 100%;
}

.price-cell {
  width: 145px;
  height: 45px;
  text-align: right;
}

.strikethrough {
  text-decoration: line-through;
  color: grey;
}

.discount {
  color: red;
}

