<mat-card>
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step>
      <ng-template matStepLabel>Items overview</ng-template>
      <app-shop-cart></app-shop-cart>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Address overview</ng-template>
      <app-person-details></app-person-details>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="done" fxLayout="column">
        <p>
          Congratulations! Order accepted!
        </p>
        <button mat-raised-button color="accent" routerLink="/">
          Back to home
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
