<mat-card>
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step>
      <ng-template matStepLabel>Items overview</ng-template>
      <app-shop-cart></app-shop-cart>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Address overview</ng-template>
      <app-person-details (setOrderDateTime)="setOrderDateTime($event)"></app-person-details>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="done" fxLayout="column">
        <div *ngIf="orderDateTime != null; else errorDiv">
          <p>
            Congratulations! Your order at {{orderDateTime}} is accepted!
          </p>
        </div>
        <ng-template #errorDiv>
          <p class="error-div">
            Some error occurred. Please try again later.
          </p>
        </ng-template>
        <button mat-raised-button color="accent" routerLink="/">
          Back to home
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
