.large-box {
  height: 500px;
  /*height: 100%;*/
  width:95%;
  position: center;
  display: flex;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.center-items {
  align-items: center;
  justify-content: center;
}

.my-large-box {
  height: 500px;
  /*height: 100%;*/
  width:95%;
  position: center;
  /*display: flex;*/
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
